/* --- HERO SECTION --- */

@use "./partials/variable" as *;
@use "./partials/mixins" as *;

.menu__title {
  color: white;
  background-color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  min-width: 17.5rem;
  max-width: 18.75rem;
  min-height: 11.25rem;
  max-height: 12.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

.menu__title-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/Images/coffee-circle.jpg);
  min-width: 100%;
  max-width: 100%;
  min-height: 35.938rem;
  max-width: 37.5rem;
  background-position: center;
  background-size: cover;
}

.menu__title::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0.3125rem solid #5bacc3;
  top: 0.25rem;
  left: -0.25rem;
  @include desktop {
    top: -1.25rem;
    left: -1.25rem;
  }
}

.menu__title-div h1 {
  text-transform: uppercase;
}

/* --- MENU NAV SECTION --- */

.menu__main-div {
  color: #393939;
}

.menu__main-list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  font-size: 1.313rem;
  font-weight: 400;
  margin: 0;
}

.menu__main-nav {
  background-color: #393939;
}

.menu__main-list-item {
  padding: 15px;
  margin: 5px;
  text-align: center;
  /* border-left: 4px solid #5bacc3; */
}

.menu__main-list-item a {
  text-transform: uppercase;
}

.menu__main-list-link {
  text-decoration: none;
  text-align: center;
  color: white;
  border-left: 4px solid #5bacc3;
  padding: 10px 10px 10px 14px;
}

.menu__main-list-link:hover {
  color: #5bacc3;
}

/* --- DRINKS SECTION --- */

.section__hot-drinks {
  padding: 20px;
  background-color: #fff0ed;
}

.section__cold-drinks {
  padding: 20px;
  background-color: #f7f7f7;
}

.section__pastries {
  padding: 20px;
  background-color: #fff0ed;
}

.menu__drinks-title {
  color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.menu__drinks-item {
  color: #393939;
  font-size: 2.063rem;
  font-weight: 300;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0;
}

.menu__drinks-description {
  margin: 0 auto;
  color: #393939;
  font-size: 1.125rem;
  font-weight: 400;
  width: 33%;
  text-align: center;
  font-style: italic;
}

.menu__drinks-price {
  color: #5bacc3;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 10px;
}
