$font: "Open Sans";
$primary-color: #fff0ed;
$secondary-color: #5bacc3;
$graphite: #393939;
$gray: #909090;
$light-gray: #f7f7f7;
$white: #fff;

//Media Query Breakpoints:
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
